* {
	margin: auto;
	padding: auto;
	font-family: OratorStd;
}

@font-face {
	font-family: OratorStd;
	src: url(./font/OratorStd.otf);
}

body {
	background-image: url(./portfolio/Padrao.png);
}

.container {
	background-color: white;
}

a {
	color: gray;
}

a:hover {
	color: black;
}

.flex {
	display: flex;
}

.sobreMinInfo {
	text-align: center;
}

/* mobile extra small */
@media (min-width: 320px){
	.sobre{
		flex-wrap: wrap;
	}
	.sobre img{
		width: 65vw;
	}
	.logo{
		width: 70px;
	}
	.sobreMinInfo p{
		   word-break: break-word;
	}
}

@media (min-width: 375px){
	.sobre{
		flex-wrap: wrap;
	}
	.sobre img{
		width: 65vw;
	}
	.logo{
		width: 70px;
	}
	.sobreMinInfo p{
		   word-break: break-word;
	}
}

@media (min-width: 1024px){
	.logo{
		width: 145px;
	}
	.sobreMinInfo p{
		   word-break: break-word;
	}
}

@media (min-width: 1440px){
	.container-fluid {
		margin-left: 1.7%;
	}
	.logo{
		width: 160px;
	}
	.sobreMinInfo p{
		   word-break: break-word;
	}
}

@media (min-width: 2560px){
	.container-fluid {
		margin-left: 19.7%;
	}
	.logo{
		width: 160px;
	}
	.sobreMinInfo p{
		   word-break: break-word;
	}
}
